@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
*{
  box-sizing: border-box;
}
body {
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTR8fGJhY2tncm91bmR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: 100% ;
  font-family: 'Major Mono Display', monospace;
  font-weight: 800;
}
img {
  max-height: 2rem;
}
h1{
  padding:2rem;
}
h5{
  font-size: medium;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  
}
.screen{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col {
  display: flex;
  text-align: center;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwI2WFn5onHgYV7dQfhOF6M9k4KY_5dM5Xkw&usqp=CAU');
  background-color: rgb(233, 213, 217);
  height: 4.5rem;
  width: 4.5rem;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px #222;
  perspective: 1000px;
  margin: 0.15rem;
  max-width: 19%;
  min-width: 19%;
  flex: 0 1 auto;
}

.btn-primary{
  font-family: 'Major Mono Display', monospace;
  

}

.btn {
  font-family: 'Major Mono Display', monospace;
  color: #fff;
  background-color: #08b5bb;
  border-color: #1c6cc2;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  }

i {
  font-size: 1.5rem;
}

.col-8 {
    width: 400px;
    background: rgb(245, 243, 243);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 10px;
}
.pcss{
  line-height: 2.2rem;
  width: 4.3rem;
  color: white;
  background-color: #08b5bb;
}
.col-2 {
  text-align: center;
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 2px #222;
  
}
.col-2:hover {
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 2px #222;
}

.bg-info {
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  color:black;
  margin-left: auto;
  text-align: center;
}

.level, .time {
  align-self: center;
  width: max-content;
}


/* mouse over link */
.col:hover {
  background-color: #ffcccc4d;
  cursor: pointer;
}

.covered > * {
  display: none;
}

.gap {
  margin-top: 50px;
}
.userinput {
  border: none;
  border-radius: 0.4rem;
  height: 35px;
  width: 100%;
  padding: 8px;
}
.mp {
  margin-top: 3%;
  float: right;
}
.list-group {
  list-style-type: none;
  align-items: center;
  background: white;
  padding: 0.5rem;
  margin: 0.5rem 0;
  min-width: 250px;
  border-radius: 10px;
  box-shadow: 0 5px 2px 0 #ccc;


}

.list-group > li{
  margin:1rem;
  background-color: #e1e8ec;
  min-width: 250px;
  box-shadow: 0 5px 2px 0 #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.delete-name {
  color: red;
  font-size: 1.2rem;
}
.delete-name:hover {
  background:rgb(235, 60, 60);
  color: white;
  border-radius: 50%;

}
/* Modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 35% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */

}
.modal-content > Button {
  width:10rem;
  margin: 10px auto;
  color:white;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.solved {
  background-color: rgb(93, 233, 168);
}
.solved:hover {
  background-color: rgb(93, 233, 168);
}
.container {
    width: 500px;
    margin: 0 auto;
}
@media (max-width: 360px) {
  i {
  font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 40%;
  }
  

}

.cover {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
}

.disable {
  display: block;
  z-index: 100;
}

.unmatched {
  background-color: rgb(235, 60, 60);
}

.open {
  transition: transform 0.2s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}


#list > li:hover{
  border-left: 2px #0dcaf0 solid;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.congra {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.time {
  font-weight: bold;
}

.blue {
  background: #286cff;
}

.yellow, .yellow:hover {
  background: rgb(255, 218, 5);
}


/* confetti from https://www.codeseek.co/moonglows76/css-confetti-BRVrgZ */

.container-confetti {
  width: 100%;
  height: 100%;
}

.confetti {
  z-index: 100;
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  left: 50%;
  -webkit-animation: confetti 5s ease-in-out -2s infinite;
          animation: confetti 5s ease-in-out -2s infinite;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.confetti:nth-child(1) {
  background-color: #f2d74e;
  left: 10%;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.confetti:nth-child(2) {
  background-color: #95c3de;
  left: 20%;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.confetti:nth-child(3) {
  background-color: #ff9a91;
  left: 30%;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.confetti:nth-child(4) {
  background-color: #f2d74e;
  left: 40%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

.confetti:nth-child(5) {
  background-color: #95c3de;
  left: 50%;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.confetti:nth-child(6) {
  background-color: #ff9a91;
  left: 60%;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

.confetti:nth-child(7) {
  background-color: #f2d74e;
  left: 70%;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.confetti:nth-child(8) {
  background-color: #95c3de;
  left: 80%;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.confetti:nth-child(9) {
  background-color: #ff9a91;
  left: 90%;
  -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s;
}

.confetti:nth-child(10) {
  background-color: #f2d74e;
  left: 100%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

@-webkit-keyframes confetti {
  0% {
    -webkit-transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
            transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    -webkit-transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
            transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    -webkit-transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
            transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    -webkit-transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
            transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    -webkit-transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
            transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

@keyframes confetti {
  0% {
    -webkit-transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
            transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    -webkit-transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
            transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    -webkit-transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
            transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    -webkit-transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
            transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    -webkit-transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
            transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}